/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}







body {
  background-color: #E1E3D0;
  font-family: 'Asap', sans-serif;
  font-size: 15px;
}

.menu {
	opacity: .8;
  background-color: #FFFC92;
  list-style: none;
  border: 1px solid #c0c0c0;
  float: left;
  width: 100%;
  height: 30px;
  position: fixed;
}

.menu li {
  position: relative;
  float: left;
  border-right: 2px solid #F2E453;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 7.3px 10px;
  display: block;
}

.menu li a:hover {
  background: #1F1E1C;
  color: #FFFDEA;
  text-shadow: 0px 0px 6px #fff;
}

.submenu1 {
	position: absolute;
	top: 30px;
	left: 0;
	background-color: #F2E593;
	display: none;
}

.submenu2 {
	position: absolute;
	top: 30px;
	left: 0;
	background-color: #F2E593;
	display: none;
}

.menu li:hover .submenu1{
	display: block
}

.submenu1 li {
	border: 1px solid #c0c0c0;
	display: block;
	width: 150px;
}


.menu li:hover .submenu2{
	display: block
}

.submenu2 li {
	border: 1px solid #c0c0c0;
	display: block;
	width: 150px;
}


.inicio {
  width: 100%;
  margin: 0% auto;
	text-align: center;
}

.fotos-principais {
  width: 100%;
  display: block;
  visibility: show;
  margin: 0 auto;
}

.ilhas-gregas div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.bahamas div {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

article.praias section {
	width: 49%;
	padding: 1%;
}

section.texto {
	text-align: center;
	float: left;
}

section.fotos {
	text-align: center;
	float: right;
}

.mar-do-caribe div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

#fotos-caribe img {
	display: inline;
	text-align: center;
	width: 49.7%;
	padding: 1px;
}

#pontos-turisticos {
	text-align: center;
	margin: 10px;
	padding: 30px;
}


.rio-de-janeiro div {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}



.sao-paulo div {
  float: left;
  width: 50%;
  text-align: center;
}

#sp2 {
  float: left;
  width: 48%;
  text-align: center;
  padding: 5px;
}

#sp2 img:hover {
		-moz-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-o-transform: scale(1.1);
		-webkit-transition: 1s all ease;
}

h1 {
  font-size: 3em;
  padding: .75em 0;
}

h1:hover {
  color: yellow;
}

h2 {
  font-size: 1.5em;
  padding-bottom: .3em;
}

b {
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  padding-bottom: .5em;
  color: grey;
}

h3 a {
  text-decoration: none;
  color: #0C27A4;
}

h3 a:hover {
  color: #02071C;
}

i {
  font-style: italic;
}

p {
  font-size: 1em;
  padding: .5em 0;
  color: #272727;
}
